# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build
/functions/src/functionsUtil.ts
/functions/etc
/functions/lib
/functions/node_modules
/functions/firebase-debug.log

/%RESOURCE_DIR%
# misc
.firebase
.firebaserc
.firebase.json
/firebase
/src/firebase.js
.DS_Store
.env.local
.env.development.loca l
.env.test.local
.env.production.local
.bfg.jar
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/util/pushNotificationUtil.js
